<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjemmeside</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <div class="headeren">

        <img src="logo.png" alt="logo" id="logo">
        <h1 class="companyName">Buy N' Sell</h1>
        <hr>
    
    
        <ul class="menulist">
            <li class="menuitems"><a href="/index.html">Hjem</a></li>
            <li class="menuitems"><a href="/salg.html">Opret en ny vare</a></li>
            <li class="menuitems"><a href="/vare.html">Produkter</a></li>
            <li style="float:right" class="menuitems"><a class="active" href="/profil.html"> Din profil</a></li>
        </ul>

    </div>


    <h1> OPDATER PROFIL </h1>

    <form id='formOpdater' class="form">
        <br>
        <label>Ny Email:</label>
        <input placeholder="Ny Email" type="email" id="newEmail"/>
        <br>
        <label>Nyt password:</label>
        <input placeholder="Nyt Password" type="password" id="newPassword"/>
        <br>
        <input value="submit" type="submit" id="indsend" class="knapProdukter"/>
    </form>

    <script src="index.js"></script>


</body>


</html>