<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjemmeside</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <div class="headeren">

        <img src="logo.png" alt="logo" id="logo">
        <h1 class="companyName">Buy N' Sell</h1>
        <hr>
    
        <ul class="menulist">
            <li class="menuitems"><a href="/index.html">Opdater Bruger</a></li>
            <li class="menuitems"><a href="/salg.html">Opret en ny vare</a></li>
            <li class="menuitems"><a href="/vare.html">Produkter</a></li>
            <li class="menuitems"><a href="/opdatervare.html">Opdater Produkter</a></li>
            <li class="menuitems"><a href="/sletvare.html">Slet Produkter</a></li>
            <li style="float:right" class="menuitems"><a class="active" href="/profil.html"> Din profil</a></li>
        </ul>

    </div>
    <div class="backgroundBody">
        <br>

        <h1> OPDATER PROFIL </h1>

        <form id='formOpdater' class="form">
            <br>
            <label>Email:</label>
            <input placeholder="Email" type="input" id="email" class="inputfelt"/>
            <br>
            <label>Nyt password:</label>
            <input placeholder="Nyt Password" type="input" id="newPassword" class="inputfelt"/>
            <br>
            <input value="submit" type="submit" id="indsend" class="knap"/>
        </form>

        <script src="index.js"></script>
    </div>


</body>


</html>