<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="login.js"></script>
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <div class="headeren">

        <img src="logo.png" alt="logo" id="logo">
        <h1 class="companyName">Buy N' Sell</h1>
        <hr>
    </div>

    <header>
        <h1>Login</h1>
    </header>

    <form id='form' action="/login" class="form">
        Email:
        <input placeholder="Email" type="email" id="email"/>
        <br>
        Password:
        <input placeholder="Password" type="password" id="password"/>
        <br>
        <input value="Submit" type="submit" class="knap"/>
        <br>
        Har du ikke en bruger? <a id="mylink" href="./opretbruger.html">Opret din bruger her</a>
    </form>

    
</body>


</html>