<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opret bruger</title>
    <script src="opretbruger.js"></script>
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <div class="headeren">

        <img src="logo.png" alt="logo" id="logo">
        <h1 class="companyName">Buy N' Sell</h1>
        <hr>
    </div>

    <div class="backgroundBody">
        <br>

        <h1>Opret en ny bruger</h1>

        <form id='form' action="/opretbruger" class="form">
            <!-- Placeholder bruges til at vise, hvad der skal stå i indputsfeltet, indtil brugeren skriver noget -->
            Email:
            <input placeholder="Email" type="email" id="email"/>
            <br>
            Password:
            <input placeholder="Password" type="password" id="password"/>
            <br>
            <input value="Submit" type="submit" class="knap"/>
            <br>
            Har du allerede en bruger? <a id="mylink" href="./login.html"> Login her</a>
            <br>
        </form>
    </div>
    
</body>


</html>