<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opretbruger side</title>
    <script src="opretbruger.js"></script>
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <h1>Opret en ny bruger</h1>

    <form id='form' action="/opretbruger">
        <input placeholder="Email" type="email" id="email"/>
        <input placeholder="Password" type="password" id="password"/>
        <input value="Submit" type="submit"/>
    </form>

    Har du allerede en bruger? <a id="mylink" href="./login.html"> Login her</a>
    
</body>


</html>