<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <script src="profil.js"></script>
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <div class="headeren">
        <img src="logo.png" alt="logo" id="logo">
        <h1 class="companyName">Buy N' Sell</h1>
        <hr>
    
    
        <ul class="menulist">
            <li class="menuitems"><a href="/index.html">Opdater Bruger</a></li>
            <li class="menuitems"><a href="/salg.html">Opret en ny vare</a></li>
            <li class="menuitems"><a href="/vare.html">Produkter</a></li>
            <li class="menuitems"><a href="/opdatervare.html">Produkter</a></li>
            <li class="menuitems"><a href="/sletvare.html">Slet Produkter</a></li>
            <li style="float:right" class="menuitems"><a class="active" href="/profil.html"> Din profil</a></li>
        </ul>
    </div>

    <h1> PROFIL </h1>


    <!-- Log ud funktion -->
    <br>
    <Button className="button" id="logud" onclick=logud() class="knapProdukter"> Log ud </Button>


    <!-- Slet bruger funktion -->
    <form id="delete">
        <input value="Slet bruger" type="submit" class="knapProdukter"/>
    </form>

    

</body>


</html>