<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salg</title>
    <script src="salg.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="./../../index.js"></script>
</head>


<body>

    <!-- Menu bar i toppen -->    
    <div class="headeren">
        <img src="logo.png" alt="logo" id="logo">
        <h1 class="companyName">Buy N' Sell</h1>
        <hr>
    
    
        <ul class="menulist">
            <li class="menuitems"><a href="/index.html">Hjem</a></li>
            <li class="menuitems"><a href="/salg.html">Nye salg</a></li>
            <li class="menuitems"><a href="/vare.html">Produkter</a></li>
            <li style="float:right" class="menuitems"><a class="active" href="/profil.html"> Din profil</a></li>
        </ul>
    </div>



    <!-- Indholdet på siden --> 
    <h1> SALG </h1>

        <h2>
            Produkter til salg
        </h2>


     <!-- Form til opretning af nye produkter -->
    <form id="formCreate" action="/opretvare" enctype="multipart/form-data" method="POST">

        Title: <input placeholder="Titel/Beskrivelse" type="input" id="titel"/>
        <br>

        Pris: <input placeholder="Pris" type="number" id="price"/>
        <br>

        Kategori: <select id="categori">
            <option value="Tøj">Tøj</option>
            <option value="Sko">Sko</option>
            <option value="Tasker">Tasker</option>
        </select>
        <br>

        Billede: <input type="file" name="billede" id="billede">
        <button type="submit">Opret</button>
         <!-- <input value="Submit" type="submit"/> -->
    </form> 



    <!-- Tabel med produkter
    <button id="produkter">Produkter</button>

    <table id="vareTabel">

    </table>


    <form id="deleteProduct">
        <input value="Slet produkter" type="submit"/>
    </form>


    <script src="salg.js" async defer></script> -->




</body>


</html>